
        <div class="fyp-wrapper">
            <div class="recommended-item">
                <img [src]="photo.img_src" [alt]="photo.id" class="image">
                <div  [class]="bookmarked ? 'bookmarked':'not-bookmarked'" 
                (click)="toggleBookmark()" 
                class="bookmark-wrapper">
                    <svg width="12" height="14" xmlns="http://www.w3.org/2000/svg"><path d="m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z" stroke="#FFF" stroke-width="1.5"/></svg>
                </div>
            </div>
            
            <div class="fyp-info">
                    <span class="fyp-name">{{ photo.rover.name}}</span>
            </div>
        </div>
