<div class="container">
    <mat-list role="list">
        <mat-list-item routerLink="" [class]="isActive('home')?'active-nav':'inactive-nav'" role="listitem">home</mat-list-item>
        <div class="item2">
          <mat-list-item routerLink="/dashboard/mrp" [class]="isActive('mrp')?'active-nav':'inactive-nav'" role="listitem">
            Mars Rover Pics
          </mat-list-item>
        </div>
        <mat-list-item routerLink="/dashboard/neo" [class]="isActive('neo')?'active-nav':'inactive-nav'" role="listitem">Neo</mat-list-item>
        <mat-list-item routerLink="/dashboard/favorite" [class]="isActive('favorite')?'active-nav':'inactive-nav'" role="listitem">Favorite</mat-list-item>
      </mat-list>
      
      <button class="action-btn" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <div class="content">
          logout
        </div>
        </button>
</div>