<div class="container">
    <mat-list role="list">
        <mat-list-item routerLink="" [class]="isActive('')?'active-nav':'inactive-nav'" role="listitem">home</mat-list-item>
        <mat-list-item routerLink="/dashboard/mrp" [class]="isActive('mrp')?'active-nav':'inactive-nav'" role="listitem">Mars Rover Pics</mat-list-item>
        <mat-list-item routerLink="/dashboard/favorite" [class]="isActive('movies or TV series')?'active-nav':'inactive-nav'" role="listitem">Favorite</mat-list-item>
      </mat-list>
</div>